@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.p-headText {
  color:white;
  font-size: 10vh;
  font-weight: bold;
}
.p-container{
  margin-top: -8vw;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}
.titles{
  margin-top: -120px;
  font-size: 0.8em;
 color: goldenrod;
 position: absolute; /* Use absolute positioning */
 left: 30px;
 font-family: "Quicksand", sans-serif;
}
.p-container img{
  position: relative;
  height: 50vh;
  border-radius: 3px;
  justify-content: center;
}

.card-img{
  height: 50vh;
  transition: .5s;
  overflow:hidden;
}
.card-img:hover{
    transform: scale(1.09);
    cursor: pointer;
}
@media screen and (max-width: 700px) {
  .p-headText {
    color:white;
    font-size: 7vh;
    font-weight: bold;
  }
  .p-container{
    margin-top: -8vw;
    justify-content: space-between;
    height: 80vh;
    align-items: center;
  }
  .p-container img{
    position: relative;
    height: 40vh;
    border-radius: 3px;
    justify-content: center;
  }
  .card-img{
    height: 40vh;
    transition: .5s;
    overflow:hidden;
  }
  .titles{
    margin-top: -70px;
    font-size: 0.8em;
   color: goldenrod;
   position: absolute; /* Use absolute positioning */
   left: 30px;
   font-family: "Quicksand", sans-serif;
  }
}