@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.container1 {
    width: 100%;
    padding: 2rem;
    text-align: justify;
}

#heading2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: goldenrod;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: white;
    font-family: "Quicksand", sans-serif;
}

.icon {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    margin-left: 45vw;
}
