@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.dynamic-page-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height:95vh;
  min-height: 850px;
  background-position: 50% 50%;
}
.dynamic-header-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-content-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 510px;
  padding-left: 420px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.header-thumbnail-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 340px;
  height: 510px;
  border-radius: 10px;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
  background-position: 50% 100%;
  background-size: cover;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.2), 8px 8px 60px -10px rgba(0, 0, 0, 0.4);
}
.header-short-description {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 19px;
  line-height: 31px;
}
.header-title {
  max-width: 70%;
  margin-top: -10px;
  color: white;
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  font-family: "Quicksand", sans-serif;

  
}
.info-wrapper.on-review-page {
  margin-top: 25px;
  margin-bottom: 15px;
}
.header-info-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

body{
  max-width: 100vw;
}
.butt{
  background-color: #FFA200 ;
  border: none;
  color: black; 
  display: flex;
  align-content: center;
  align-items: center;
  border-radius: 12px;
  width: 60px;
}
.butt:hover{
  cursor: pointer;
}
.header-info-item {
  margin-top: 6px;
}
.header-info-title {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}
.header-info-title.bold {
  width: 86.8125px;
  margin-right: 10px;
  font-weight: 700;
}

.info-wrapper {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 15px;
}

.info-wrapper.large {
  margin-top: 30px;
}

.info-wrapper.small {
  margin-top: 5px;
  margin-bottom: 10px;
}

.info-wrapper.very-small {
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 13px;
}
.info-wrapper.inline-block {
  display: inline-block;
}
.info-block {
  display: inline-flex;
  margin-top: 3px;
  margin-right: 4px;
  float: none;
  line-height: 20px;
}
.info-block-icon {
  position: relative;
  top: -1px;
  height: 17px;
  margin-right: 10px;
  float: none;
}
.info-block-icon.small {
  top: -2px;
  height: 16px;
  margin-right: 7px;
}

.info-block-icon.stars {
  top: -2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.info-block-icon.stars-large {
  top: -2px;
}

.info-title {
  display: inline-block;
  float: none;
}
   body {
     font-size: 16px;
     line-height: 28px;
   }

.titlep{
  margin-top: -120px;
   font-size: 2.8em;
  color: goldenrod;
  position: absolute; /* Use absolute positioning */
  left: 20px;
  font-family: "Quicksand", sans-serif;

   }
   
  .cast {
     margin-top: 20px;
     margin-bottom: 20px;
     color: #f1b722;
     font-size: 21px;
     line-height: 30px;
     font-weight: 700;
     font-family: "Quicksand", sans-serif;

   }
   p {
     margin-bottom: 25px;
     align-items:justify;
     font-family: "Quicksand", sans-serif;

   }
   
   a {
     color: #3d6888;
     text-decoration: underline;
   }
   
   a:hover {
     color: #fff;
   }
   
   img {
     display: inline-block;
     max-width: 100%;
   }

   .container {
     position: relative;
     z-index: 2;
     max-width: 1200px;
     padding-right: 60px;
     padding-left: 60px;
     -webkit-box-flex: 1;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
   }
   
   .container.push-down {
     margin-top: 70px;
   }
   
   .container.push-up {
     z-index: 10;
     margin-top: -230px;
   }
   @media screen and (max-width: 900px)and (min-width:700){
    body {
      font-size: 15px;
      line-height: 27px;
    }
    .container {
      padding: 0px;
    }
    .grid{
      margin-left: -30px;
    }
    .header-item-overlay.in-header {
      padding-bottom: 90px;
      padding-left: 50px;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .dynamic-page-header {
      height: 100vh;
      min-height: 830px;
    }
    .dynamic-header-overlay {
      padding-bottom: 120px;
    }
    .header-content-block {
      height: auto;
      max-width: 690px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 330px;
    }
    .header-thumbnail-image {
      width: 280px;
      height: 420px;
    }
    .titlep{
      font-size: 33px;
    }
    iframe{
      height: 300px;
    }
    .header-title {
      max-width: 100%;
      font-size: 55px;
      line-height: 55px;
    }
    .header-short-description {
      line-height: 27px;
    }
    .slid{
      margin-top: 170px;
    }
    .header-info-item {
      margin-top: 2px;
    }
    .info-wrapper.large {
      margin-top: 15px;
    }
    .info-wrapper.on-review-page {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .info-block {
      font-size: 12px;
    }
    .info-block.small {
      font-size: 9px;
    }
    .info-block-icon.small {
      top: 0px;
      height: 14px;
    }
    .info-block-icon.stars {
      top: 0px;
    }
    .header-intro-block {
      padding-right: 40px;
      padding-left: 40px;
    }
    .header-intro-block.align-left {
      padding: 0px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .header-list-wrapper.second-half {
      display: none;
    }
    .header-short-description{
      display: none;
    }
    .header-item-overlay {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .titlep{
      font-size: 33px;
    }
    iframe{
      height: 200px;
    }
    .header-item-overlay.in-header {
      padding-right: 40px;
      padding-bottom: 40px;
      padding-left: 40px;
    }
    .header-content-block {
      display: block;
      max-width: 400px;
      padding-right: 20px;
      padding-left: 20px;
      text-align: center;
    }
    .header-thumbnail-image {
      position: relative;
      width: 240px;
      height: 350px;
      margin-right: auto;
      margin-bottom: 40px;
      margin-left: auto;
      box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.2), 8px 8px 30px -10px rgba(0, 0, 0, 0.4);
    }
    
    .info-wrapper.large {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .info-block {
      margin-top: 0px;
      line-height: 10px;
    }
    .info-block-icon.stars {
      display: inline-block;
      margin-bottom: 0px;
    }
    .info-block-icon.stars.discover-stars {
      margin-bottom: 0px;
      margin-left: 0px;
    }
    .info-block-icon.stars.mobile-align-left {
      top: 3px;
      margin-right: 10px;
      margin-bottom: 6px;
      margin-left: 0px;
    }
    .info-block-icon.stars.mobile-centered {
      display: block;
      height: 21px;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
    }
    .info-block-icon.stars-large {
      height: 14px;
    }
  }
  
  @media screen and (max-width: 479px) {
    p {
      margin-bottom: 20px;
    }  
    .header-item-overlay.in-header {
      padding-right: 30px;
      padding-left: 30px;
    }
    .header-content-block {
      max-width: 300px;
    }

    .header-thumbnail-image {
      width: 210px;
      height: 290px;
      margin-bottom: 30px;
    }
    .header-title {
      font-size: 40px;
      line-height: 40px;
    }
    .header-short-description {
      font-size: 15px;
      line-height: 25px;
      display: none;
    }
    .info-wrapper.small {
      font-size: 17px;
    }
    .info-wrapper.inline-block {
      margin-bottom: 10px;
    }
    .info-block {
      margin-right: 7px;
      font-size: 13px;
      line-height: 20px;
    }
    .info-block.mobile-full {
      display: block;
      margin-right: 0px;
      margin-bottom: 10px;
    }
    .info-block.hide-mobile {
      display: none;
    }
    .info-block-icon {
      top: 0px;
      height: 16px;
      margin-right: 7px;
    }
    .info-block-icon.stars {
      height: 19px;
      margin-right: 5px;
      margin-bottom: 6px;
    }
    .info-block-icon.stars.discover-stars {
      top: -1px;
      display: inline-block;
      height: 17px;
      margin-right: 10px;
    }
    .info-block-icon.stars.mobile-align-left {
      height: 14px;
      margin-right: 4px;
    }
    .info-block-icon.stars.hide-mobile {
      display: none;
    }
    .info-block-icon.stars-large {
      top: 0px;
      margin-right: 0px;
    }
    .slid{
      margin-top: 120px;
    }
    .trailer{
      margin-top: 120px;
    }
    
  }