.footer {
    background-color: #000508;
    color: #fff;
    padding: 32px 0;
    height: auto;
    max-width: 100vw;
    width: 100vw;
  }
  
  .widget {
    margin-bottom: 32px; 
    display: flow-root;
    display: ruby;
    padding: inherit;
  }
  
  .widgetTitle {
    color: #fff;
    padding-bottom: 1vh;
  }
  
  .thumbnailWidget {
    list-style: none;
    padding: 0;
  }
  
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px; 
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .footerCopyright {
    background-color: #222;
    padding: 16px 0; 
  }
  .thumbnailWidget li{
    margin-bottom: 5px;
  }
  .iconss{
  size: 50px;
  }