
  .heading {
    font-size: 15px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;

   
  }
  .heading1{
    font-size:12px;
    font-family: "Quicksand", sans-serif;

  }
  
  .fa {
    font-size: 25px;
    font-family: "Quicksand", sans-serif;

  }
  
  .checked {
    color: orange;
  }
 